.card-header-indicator {
  font-size: 1rem !important;
  font-weight: bold !important;
  text-align: center !important;
}

.card-body-indicator {
  background-color: #086bac !important;
  color: #fbfcff !important;
}