<div data-controller="commercial--sales--opportunities--dealflow--dashboard">

  <div class="row my-3 d-flex align-items-center">
    <div class="col-sm-8">
      <div class="media">
        <i class="material-icons md-lg md-primary mr-2">description</i>
        <div class="media-body">
          <h5 class="mt-2" style="margin-bottom:0px;">Pipeline de Negócios MedCapital</h5>
          <span class="text-black-secondary" data-target="commercial--sales--opportunities--dealflow--dashboard.subtitle"></span>
        </div>
      </div>
    </div>
    <div class="col-sm-2 ml-auto"></div>
    <div class="col-sm-1" data-target="commercial--sales--opportunities--dealflow--dashboard.submenu"></div>
  </div>

  <div class="my-2" data-target="commercial--sales--opportunities--dealflow--dashboard.main"></div>
</div>