<div data-controller="commercial--dashboards--leads">

  <div class="row my-3 d-flex align-items-center">
    <div class="col-sm-8">
      <div class="media">
        <i class="material-icons md-lg md-primary mr-2">description</i>
        <div class="media-body">
          <h5 class="mt-2" style="margin-bottom:0px;">Geração de Leads MedCapital</h5>
          <span class="text-black-secondary">Geração de Leads da MedCapital</span>
        </div>
      </div>
    </div>
    <div class="col-sm-2 ml-auto"></div>
  </div>

  <div class="my-2" data-target="commercial--dashboards--leads.main"></div>
</div>